body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    color: #b51c54;
    background: #f9dae9;
    background-image: url('BG\ PATTERN.jpg');
    font-size: 1em;
    line-height: 1.5em;
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}

h1 {   
    font-size: 3.0em;
    line-height: 2.3em;
    margin: 15px 0;
    text-align: left;
    font-weight: 400;
}

p{
    margin: 0 0 1.5em 0;
}
   
img{
    max-width: 100%;
    height: auto;
}

/*Estas líneas de CSS las usaremos para dar estilo a la cabecera:*/
#main-header {
    background: #ffc7e7;
    color: white;
    height: 80px,
}
#main-header a {
    color: white;
}

/* Para insertar Logo */
#logo-header {
    float: left;
    padding: 15px 0 0 20px;
    text-decoration:solid;
}
#logo-header:hover {
    color: #e3319c;
}

#logo-header .site-name {
    display: block;
    font-weight: 700;
    font-size: 1.2em;
}

#logo-header .site-desc {
    display: block;
    font-weight: 300;
    font-size: 0.8em;
    color: #c96798;
}

/* Navegación en el menu horizontal */
nav {
    float: right;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 20px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    display: block;
    padding: 0 5px;
    text-decoration: none;
}

nav ul li a:hover {
        background: #ff89d2;/*color gris del block*/
}
/* lista de menus */
li {
    font: Arial;
    float: left;/*carga los menus a la izquierda*/
}

li a, .dropbtn {
    display: inline-block;
    color: #f5cee7; /*color del texto en la barra*/ text-align: center;
    padding: 0px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #fe6fc7;/*color de la lista seleccionada*/
}

/* lista de opciones verticales*/
li.dropdown{
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fdcde5;
    min-width: 80px;
    box-shadow: Opx 8px 16px Opx rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: rgb(255, 49, 166);/*color de elemento al ir seleccionando*/
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Con estos estilos aplicaremos diseño al contenido:*/
#main-content {
    background: white;
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
#main-content header,
#main-content .content {
    padding: 40px;
}
/*Y por último, fijamos la cabecera:*/
#main-header {
    background: #ffa9d3;
    color: white;
    height: 80px;

    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
    left: 0; /* Posicionamos la cabecera al lado izquierdo */
    top: 0; /* Posicionamos la cabecera pegada arriba */
    position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}